body {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
}

nav ul li a {
    transition: color 0.3s ease-in-out;
    font-weight: bold;
    text-transform: uppercase;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(200, 0, 0, 0.9);
}

img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    filter: grayscale(100%);
}

img:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
}

h2 {
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

/* Responsividad */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }
}
