/* Estilos base */
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

/* Hero Section */
.hero {
  background: url('header-bg.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
}

/* Efectos en imágenes de la galería */
.gallery-img {
  filter: grayscale(100%);
  transition: filter 0.5s, transform 0.3s;
}
.gallery-img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

/* Encabezados */
h2 {
  letter-spacing: 4px;
}

/* Lightbox Styles */
#lightbox {
  display: none; /* Se muestra cuando se hace clic */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  z-index: 100;
}
#lightbox img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 15px #fff;
}

/* Responsividad */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 4rem;
  }
}
